<form action='/create_person' method='post'>
What is their name?:
<input type="text" name="name"><br>
What is their occupation?:
<input type="text" name="occupation"><br>
<button>Add the person</button>
</form>