
<form action='/create_movie' method='post'>
Give A Give a Movie:
<input type="text" name="movie_name" ><br>
Release:
<input type="text" name="release_date"><br>
Director:
<input type="text" name="director"><br>
<button>Add a Movie</button>
</form>