<form action='/movie/<%= @movie['id']%>' method='post'>
Change the movie name.. Can you do that?:
<input type="text" name="movie_name" value=""></br>
Change the release date:
<input type="text" name="release_date" value=""></br>
Change the Director:
<input type="text" name="director" value=""></br>
<button>Edit the Movie</button>
</form>