<h1>Edit the Person</h1>
<form action='/person/<%= @person['id'] %>/edit' method='post'>
What is their name?:
<input type="text" name="name"><br>
What is their occupation?:
<input type="text" name=""><br>
<button>Add the person</button>
</form>