<!doctype HTML>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/rest.css">
  <title>Super Movie Job Assigner</title>
</head>
<body>
  <%= yield %>
  <footer>done by me!</footer>
</body>
</html>