<h1>Movies Under Production</h1>
<% @movies.each do |movie| %>
  <li>
    <a href="/movie/<%= movie['id'] %>"><%= movie['movie_name'] %></a>
  </li>
<%end%>
</ul>
<a href="/create_movie">Add a new movie!</a>