<h1>Meta Movie Task List</h1>
<ul>
<% @todos.each do |todo| %>
  <li>
    <a href="/todo/<%= todo['id'] %>"><%= todo['task'] %></a>
  </li>
<%end%>
</ul>
<a href="/create_todo">Add a new item to do!</a>